/* 
    Created on : 12-May-2015, 15:13:35
    Author     : Astien
*/

.error404 {
    width: 80%;
    margin: 0px auto;
    display: block;
    border-radius: 5px;
}

.error404_body {
    background-color:black;
}

#logo_header {
    width: 55px;
}

#title_header {
width: 255px;
vertical-align: top;
margin-top: 30px;
}

#menu_header {
    margin-top: 25px;
}

.annonce_list {
    border: 2px solid rgb(144, 173, 243);
border-radius: 5px;
padding: 10px;
margin-bottom: 5px;
}

.annonce_list * {
    margin-left: 5px;
    display: inline-block;
    vertical-align:top;
}

.img_list {
    width: 200px;
    float:right;
}

div.paginator {
	//padding: 3px;
	margin: 15px;
}

div.paginator a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}
div.paginator a:hover, div.paginator a:active {
	border: 1px solid #000099;
	color: #009;
}
div.paginator a.activePaginator {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
